# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
*.env
.env

# Machine learning artifacts
*.h5
*.ckpt
*.pth
*.joblib
*.pkl

# Logs and debug files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

.streamlit

*.json